
.nav-propia{
    background-color: pink;
}
.linkpropio{
    color: black;
}
.linkpropio:hover{
    color: white;
}
.botonpropio{
    color: black;
}
main{
    margin-top: 75px;
    text-align: center;
    color: rgb(252, 0, 147);
    font-weight: bold;
}
ul li{
    list-style: none;
    color: black;
    font-size: 15px;
    display: inline-block;
    margin: 15px;
    padding: 8px 12px;      
}
body{
    background-image: url(./imgProyecto/fondo-claro.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card-propia{
    max-width: 50%;
    max-height: 50%;
    margin: 20%;
}
p{
    color: rgb(243, 11, 212);
    text-align: center;
    margin: 5% 10%;
    padding: 0.5%;      
    font-size: 30px;
}
.zapatoss{
    margin: 5% 10%;
    padding: 0.5%;  
}