@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Red+Hat+Display:wght@400;500;600&display=swap');

$fontRed: 'Red Hat Display', sans-serif;
$mainColor: rgb(252, 0, 147);
$secondaryColor: rgb(243, 11, 212);
