.card-propia{
    margin: 12px;
    background-color: palevioletred;
    color: white;
    text-align: center;
    margin-bottom: 15%;
}
.contenedor-zapato{
    display: grid;
    align-items: flex-end;
    gap: 2rem;
    margin: 5%;
    .zapato{
        max-width: 100%;
        margin-bottom: 2rem;
        transition: scale, 0.3s;
        .zapato {
            display: flex;
            flex-direction: column;
        }
        .zapato img{
            max-width: 100%;
            margin-bottom: 2rem;
            transition: scale, 0.3s;
        }
        .zapato img:hover{
            transition: scale, 0.3s;
        }
           
        

    }
}

