@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Red+Hat+Display:wght@400;500;600&display=swap');

$fontRedHat: 'Red Hat Display', sans-serif;
$mainColor: rgb(241, 85, 171);
$secondColor: rgb(245, 98, 179);
$navColor: rgb(240, 149, 164);
$footerColor:rgb(233, 130, 181);